<md-card>
  <md-card-header>
    <md-card-title>
      <h2>{{header}}</h2>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <form class="example-form">
      <md-input-container>
        <input mdInput type="email" placeholder="Email">
      </md-input-container>
      <md-input-container>
        <input mdInput  type="password" placeholder="Password">
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button>Cancel</button>
    <button md-raised-button color="primary">Login</button>
  </md-card-actions>
</md-card>
